<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="h2">Post</div>
        <div>
            <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
            <button class="btn btn-danger mx-1" (click)="deletePost(post.id)">Delete</button>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">@{{ user.username }}</h6>
            <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
    <div class="h5 my-3">Comments</div>
    <div class="text-end">
        <input type="text" placeholder="search" [(ngModel)]="searchText">
    </div>
    <div *ngFor="let comment of comments | filter :searchText" class="card my-3">
        <div class="card-body">
            <p class="card-text">{{ comment.body }}</p>
            <h6 class="card-subtitle text-muted">@{{ comment.name }}</h6>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="editPostData" (ngSubmit)="editPost(editPostData.value)" class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" formControlName="title" class="form-control" id="title">
                    <small *ngIf="editPostData.get('title')?.errors" class="text-danger">Please provide a title</small>
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <textarea class="form-control" name="body" formControlName="body" id="body" rows="3"></textarea>
                    <div *ngIf="editPostData.get('body')?.errors" class="text-danger">Please provide a body</div>
                </div>
                <!-- disable submit button if form is invalid -->
                <button type="submit" class="btn btn-primary" [disabled]="!editPostData.valid" data-bs-dismiss="modal">Submit</button>
            </form>
        </div>
    </div>
</div>